#Sun Aug 25 16:01:34 CEST 2024
conversion.hasRDFType=true
metadata.rownums=true
app.filesInProgress=test039.csv,
input.outputFileName=./src/test/resources/CSVWRDFTests/test039.ttlTestOutput
conversion.method=splitQuery
converion.readMethod=rdf4j
conversion.tableMethod=
output.filePath=./src/test/resources/CSVWRDFTests/
output.zipname=compressed.zip
output.metadataFileName=./src/test/resources/CSVWRDFTests/test039.csv-metadata.json
conversion.containsBlankNodes=false
