#Sun May 04 19:03:55 CEST 2025
app.filesInProgress=test005.csv,
conversion.containsBlankNodes=true
conversion.hasRDFType=true
conversion.method=basicQuery
conversion.readMethod=rdf4j
conversion.tables=one
experiment.afterConverting=1736439789851
experiment.afterFileWrite=1736439838377
experiment.afterMetadata=1736439810654
experiment.afterParsing=1736439787882
input.firstNormalForm=false
input.inputFileName=C\:\\Users\\terka\\RDFtoCSVWAPI\\lib\\simpsons9.ttl
input.outputFileName=test005.csv
input.streaming=false
metadata.rownums=true
output.filePath=C\:\\Users\\terka\\RDFtoCSVWAPI\\lib\\simpsons9.ttl
output.metadataFileName=C\:\\Users\\terka\\RDFtoCSVWAPI\\lib\\simpsons9.ttltest005.csv-metadata.json
output.zipname=C\:\\Users\\terka\\RDFtoCSVWAPI\\lib\\simpsons9.ttl_CSVW.zip
simpleBasicQuery=false
